* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #fff;
    color: #000;
    font-size: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
  }

  .logo {
    width: 20%;
    height: 5rem;
  }

  

  /* NAV */

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  font-size: 0.8rem;
  border-bottom: rgb(185, 185, 185) solid 3px;
  border-top: rgb(185, 185, 185) solid 1px;
  background-color: rgb(241, 240, 240);

  

  ul {
    display: grid;
    width: 85%;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    

    li {
      padding: 1.8rem;
      text-align: center;
      border-right: rgb(185, 185, 185) solid 3px;
      
    }

    a {
      text-decoration: none;
      font-size: 0.8rem;
      color: #303030;
    }
  }
}

/* SHOWCASE */

.showcase {
  width: 100%;
  height: 35rem;
  background: url("./image/showcase1.jpg") no-repeat center center/cover;
  padding: 10rem 5rem;
  margin-bottom: 1rem;
}

/* Select Product */

.selectp {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  margin-left: 2rem;
  margin-bottom: 3rem;
  
  
  div{
    display: inline-block;
    vertical-align: middle;
  }

  img {
    width: 2.5rem;

  }
}


/* Home Cards */

.container {
  width: 75%;
  margin: auto;

  h1 {
    padding: 0 auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 550;
    color: gray;
  }

  h2 {
    padding: 0 auto;
    text-align: center;
    color: gray;
    padding-bottom: 2rem;
  }

  h3 {
    margin-bottom: 0.1rem;
    font-size: 0.85rem;
    font-weight: 600;
  }

  .home-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    margin-bottom: 5rem;
    height: 700px;
    align-items: space-between;
  
    img {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    a {
      color: #0067b8;
      font-size: 1.5rem;
      font-weight: 500;
    }
  
    p {
      font-size: 0.9rem;
      margin-bottom: 0.8rem;
    }
  
    .head-pic{
      display: inline-block;
      vertical-align: middle;
    }
  
    .right-chevron{
      display: flex;
      justify-content: space-between;
      height: 6rem;
      bottom: 0px; 
      
    }
  }
}


  
  .more{
    width: 30%;
    display: block;
    margin: 0rem auto;
    text-align: center;
    height: 3.5rem;

    
  }

  .vtn {
    background: #f30000;
    color: #fff;
    padding: 1rem;
    font-size: 0.9rem;
  }




  
@media (max-width: 900px) {
  .container {
  .home-cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 1000px;
    
  }
}

}

@media (max-width: 600px) {

  .container {
  .home-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,1fr);
    height: 3100px;
  }
}

}